@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
margin-bottom: 0px;

}

h1
{
  position: relative;
  text-align: center;
  margin-bottom: 50px;

}
h1 span
{
  background-color: white;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

textarea#place_description {
    width:50%;
    display:block;
    max-width:100%;
    line-height:1.5;
    padding:15px 15px 30px;
    border-radius:3px;
    border:1px solid #F7E98D;
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    font-smoothing:subpixel-antialiased;
    background:linear-gradient(#F9EFAF, #F7E98D);
    background:-o-linear-gradient(#F9EFAF, #F7E98D);
    background:-ms-linear-gradient(#F9EFAF, #F7E98D);
    background:-moz-linear-gradient(#F9EFAF, #F7E98D);
    background:-webkit-linear-gradient(#F9EFAF, #F7E98D);
    margin-bottom: 15px;
}

input#place_name {
    width:50%;
    display:block;
    max-width:100%;
    line-height:1.5;
    padding:5px 5px 5px;
    border-radius:3px;
    border:1px solid #F7E98D;
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    font-smoothing:subpixel-antialiased;
    background:linear-gradient(#F9EFAF, #F7E98D);
    background:-o-linear-gradient(#F9EFAF, #F7E98D);
    background:-ms-linear-gradient(#F9EFAF, #F7E98D);
    background:-moz-linear-gradient(#F9EFAF, #F7E98D);
    background:-webkit-linear-gradient(#F9EFAF, #F7E98D);
}

input#place_image {
    width:50%;
    display:block;
    max-width:100%;
    line-height:1.5;
    padding:5px 5px 5px;
    border-radius:3px;
    border:1px solid #F7E98D;
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    font-smoothing:subpixel-antialiased;
    background:linear-gradient(#F9EFAF, #F7E98D);
    background:-o-linear-gradient(#F9EFAF, #F7E98D);
    background:-ms-linear-gradient(#F9EFAF, #F7E98D);
    background:-moz-linear-gradient(#F9EFAF, #F7E98D);
    background:-webkit-linear-gradient(#F9EFAF, #F7E98D);
    margin-bottom: 15px;
}


.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #9D9D9D;
}


html {
	background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
	background-color: transparent;
}

.panel-body {
	background: rgb(255,255,255); /* for IE */
  background: rgba(255,255,255,0.75);
}

.panel {
	background-color: transparent;
}

.panel-footer{
	margin-bottom: 30px;
}

.col-sm-7
{
  min-width: 650px;
}


.navbar-nav > li > a{
    
		font-family: Helvetica, FreeSans, 'Liberation Sans', Helmet, Arial, sans-serif;
		font-size: 12px;
		font-stretch: normal;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		
		
		}

