%h1
	%span All places
.panel.panel-default
	-@places.each do |place|
		.panel-heading
			.panel-title=place.name
			.pull-right Created by #{place.user.email}
		.panel-body
			.col-sm-1
				%h2=place.get_upvotes.size-place.get_downvotes.size
				%p
					%span.glyphicon.glyphicon-thumbs-up
					=place.get_upvotes.size
					%span.glyphicon.glyphicon-thumbs-down
					=place.get_downvotes.size
				
			.col-sm-9
				%p=truncate(place.description, length: 440, separator: ' ')
			.com-sm-3
				=image_tag place.image.url(:small)
		.panel-footer
			-if user_signed_in?
				=link_to 'Like', like_place_path(place), method: :put
				=link_to 'Dislike', dislike_place_path(place), method: :put
				
			
			
			.pull-right
				=link_to 'Show', place
				-if place.user == current_user
					=link_to 'Edit', edit_place_path(place)
					=link_to 'Destroy', place
					

/ <p id="notice"><%= notice %></p>

/ <h1>Listing Places</h1>

/ <table>
/ 	<thead>
/ 		<tr>
/ 			<th>Name</th>
/ 			<th>Description</th>
/ 			<th colspan="3"></th>
/ 		</tr>
/ 	</thead>

/ 	<tbody>
/ 		<% @places.each do |place| %>
/ 			<tr>
/ 				<td><%= place.name %></td>
/ 				<td><%= place.description %></td>
/ 				<td><%= link_to 'Show', place %></td>
/ 				<td><%= link_to 'Edit', edit_place_path(place) %></td>
/ 				<td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
/ 			</tr>
/ 		<% end %>
/ 	</tbody>
/ </table>

/ <br>

/ <%= link_to 'New Place', new_place_path %>
