

.panel.panel-default#show
	.panel-heading
		%h3=@place.name
		.pull-right
			Rank 
			=@place.votes_for.size
	.panel-body
		.col-sm-5
			%p
				%strong	Description
			%p=@place.description
		.col-sm-7
			%center
				=image_tag @place.image.url(:normal)
	.panel-footer
		=link_to 'Edit', edit_place_path(@place)
		=link_to 'Back', places_path



